.footer{
    margin-top: 2rem;
    height: 40vh;
    .icon{
        padding-top: 1rem;
        text-align: center;
    }

    .moreinfo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .info{
            flex-basis: 30%;
            text-align: center;
            text-transform: capitalize;
            h4{
                margin: 1.5rem;
                &:hover{
                    color: #65d1e6;
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    }
}
