@use "../../scss/" as *;

.trailer__item{
    margin: 2rem;
    h3{
        margin-bottom: 2rem;
        color: #65d1e6;
    }
    .trailer_vid{
        text-align: center;
        iframe{
            margin: auto;
            width: 80%;
            height: 750px;
            @include mobile{
                height: 50%;
            }
        }
    }
}